<!DOCTYPE hmtl>
<html>
    <head>
    </head>
    <body >   
    <div class="px-40 pt-10 text-center ">
        <div class="w-full">
        <%= link_to t('IMPRIMIR PDF'), "/uploadPdf", class: "font-serif py-3 rounded-lg text-center hover:bg-red-900 bg-red-600 text-red-50 drop-shadow-sm block w-full text-xl shadow-md shadow-gray-500" %>
        </div>
    </div>
    </body>
</html>
    